<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Curated TV Recommendations from Paul Fedory">
    <meta name="author" content="Paul Fedory">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@paulfedory" />
    <meta name="twitter:creator" content="@paulfedory" />
    <meta property="og:url" content="<%= static_url(@conn, "/" ) %>" />
    <meta property="og:title" content="How To Watch TV" />
    <meta property="og:description" content="Curated TV recommendations from Paul Fedory" />
    <meta property="og:image" content="<%= static_url(@conn, "/images/screenshot.jpg") %>" />

    <title>How To Watch TV</title>

    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:200,200i,600,900" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
  </head>

  <body class="is-loading-0 is-loading-1 is-loading-2">
    <!-- Main -->
    <div id="main">

      <!-- Header -->
      <header id="header">
        <h1>How To<br />Watch TV</h1>
        <p>
          Curated TV recommendations
          <br />
          from Paul Fedory
          <a href="https://twitter.com/paulfedory" target="_blank"><i class="fa fa-twitter"></i></a>
        </p>
      </header>

      <%= render @view_module, @view_template, assigns %>

      <!-- Footer -->
      <footer id="footer">
        <p>Last updated: <%= @last_updated %>.</p>
        <ul class="copyright">
          <li>&copy; Paul Fedory.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a>.</li>
          <li>
            Images and descriptions from
            <a href="http://thetvdb.com">theTVDB.com</a>, licensed under a
            <a href="http://creativecommons.org/licenses/by-nc/4.0/">
              Creative Commons Attribution-NonCommercial 4.0 International License.
            </a>
          </li>
        </ul>
      </footer>
    </div>
    <!-- Scripts -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-79696-4', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
