<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>How To Watch TV: Curated TV Recommendations</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="is-loading-0 is-loading-1 is-loading-2">
    <!-- Main -->
    <div id="main">

      <!-- Header -->
      <header id="header">
        <h1>How To Watch TV</h1>
        <p>Curated TV recommendations by <a href="http://paulfedory.com">Paul Fedory</a></p>
        <ul class="icons">
          <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
          <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
      </header>

      <%= render @view_module, @view_template, assigns %>

      <!-- Footer -->
      <footer id="footer">
        <ul class="copyright">
          <li>&copy; Paul Fedory.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a>.</li>
        </ul>
      </footer>
    </div>
    <!-- Scripts -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
